<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Articles</title>
</head>
<body>
    {% for article in articles %}
    	<h2>Title: {{ article.title }}</h2>
        <h3>Date of publication: {{ article.pub_date }}</h3>
        <h3>Author: {{ article.author.name }}</h3>
        <h3>Category: {{ article.category.name }}</h3>
        <h3>Tags: {{ article.tags.name }}</h3><br>
    {% endfor %}

</body>
</html>